<div style="white-space:pre;border:1px solid black;margin:5px;padding:5px;font-family:monospace;">

List of Alexa Apps

<ul>
  <% apps.forEach(function(app){ %>
    <li>
      <a href="<%= app %>"> <%= app %> </a>
    </li>
  <% }) %>
</ul>

</div>
